<li class="drawer-list-item">
  <a href="/" data-pjax>
    <i class="fa fa-home"></i>Home
  </a>
</li>
<li class="drawer-list-item">
  <a href="{{@blog.url}}/timeline/">
    <i class="fa fa-clock-o"></i>Timeline
  </a>
</li>
<li class="drawer-list-item">
  <a href="{{@blog.url}}/wiki/">
    <i class="fa fa-coffee"></i>Wiki
  </a>
</li>
<li class="drawer-list-item">
  <a href="{{@blog.url}}/book/">
    <i class="fa fa-camera-retro"></i>Portfolio
  </a>
</li>
<li class="drawer-list-item">
  <a href="{{@blog.url}}/about/">
    <i class="fa fa-comment-o"></i>About Me
  </a>
</li>


<li class="drawer-list-divider"></li>
{{!-- <li class="drawer-list-item drawer-list-title">
  Follow me
</li> --}}
<li class="drawer-list-item">
  <a href="http://twitter.com/cool4zbl" target="_blank">
    <i class="fa fa-twitter"></i>Twitter
  </a>
</li>
<li class="drawer-list-item">
  <a href="http://github.com/githubzbl" target="_blank">
    <i class="fa fa-github"></i>Github
  </a>
</li>