// Footer - The bottom of every page
footer.site-footer {
    background: $footer-bg-color;
    color: $footer-color;
    font-size: $font-size-large;
    margin-top: 3rem;
    width: 100%;
    text-align: center;
    i {
      height: 100%; width: 100%;
      font-size: 20px;
      line-height: 1.75;
      &:hover {
        color: $background-color;
      }
    }
    > a.subscribe {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      display: inline-block;
      position: relative;
      top: -19px;

      background: $background-color;
      width: 40px; height: 40px;
      border-radius: 100%;
      border: 2px solid black;
      transition: all ease .5s;
      span.tooltip {display: none;}
      i { padding: 0 0 0 5px; }
      &:hover {
        background: $link-color;
        color: $background-color;
      }
    }

    ul.social-bookmarks {
      padding: 8px 0;
      li{
        display: inline-block;
        margin: 0 8px;
        a {
            display: block;
            width: 40px; height: 40px;
            border-radius: 100%;
            border: 2px solid $link-color;
            &:hover.twitter {
            background: $tw-color;
            }
            &:hover.weibo {
              background: $weibo-color;
            }
        }
      }
    }
    .copyright, .poweredby {
      padding: 40px 0;
      background: $copyright-color;
      color: #eee;
      a {
        color: #ddd;
        &:hover {
          font-weight: bold;
          color: #fff;
        }
      }
    }
}
