// Main - Every page will display.

html {
  @media (max-width: $screen-md) {
    font-size: 12px;
  }
}

.toTop {
  z-index: 9999;
  position: fixed;
  bottom: 30px; right: 110px;
  color: $text-color;
  font-size: 45px;
  i {
    position: relative;
    left: 8px;
  }
}
.divider {
  margin-bottom: 25px;
  padding-bottom: 25px;
  position: relative;
  &:after {
    position: absolute;
    content: "";
    bottom: 0; left: 50%;
    margin-left: -25px;
    height: 1px;
    width: 50px;
    background: #ddd;
  }
}
