// Single Post
header .post-info-container {
  padding: 10px 0;
  background: #555;
  opacity: .7;
  color: $headings-color;
  .post-title {
    font-size: 6rem;
  }
  .post-tags {
      a {
        border-radius: $border-radius;
        background: $link-color;
        padding: 0 2px;
        color: $headings-color;
      }
  }
}
.post-content {
  font-size: $font-size-bigger;
}
#share {
  @media (max-width: $screen-md) {
    display: none;
  }
  color: $text-color;
  z-index: 999;
  .post-progress {
    position: relative;
    padding: 10px 0;
    overflow: hidden;
    width: 100%;
    border-left: 8px solid #3d8ae3;
    margin: 0 0 40px 0;
    span#progressbar {
      background: $share-bg-color;
      z-index: -1;
      position: absolute;
      top: 0; bottom: 0;
      min-height: inherit;
      transition: all ease-in .2s;
    }
    span#progressbar-value {
      display: block;
      color: #666;
      font-size: $font-size-base;
      padding: 0 0 0 4px;
    }
    .post-progress-info {
      font-size: $font-size-large;
      color: $text-color;
      padding: 0 4px;

    }
  }
  .post-footer-heading {
    font-size: $font-size-large;
    color: $text-color;
  }
}
#share.affix {
  position: fixed;
  top: 20px;
}
#share.affix-bottom {
  position:absolute;
}

.post-footer {
  margin: 40px 0 0 0;
  border-top: 1px solid #ddd;
  text-align: center;
  .author-image img{
    max-width: 160px;
    border-radius: 100%;
  }
  .author h4{
    margin: 0;
  }
  .bio {
    color: #666;
  }
}
